<html>
    <head></head>
    <body>
        <h1>Your Videos</h1>
        <% data.forEach(vid => { %>
            <div  style="cursor: pointer; border-style: solid;padding: 5px;" onclick="window.location.href = '/video/<%= vid.videoId %>'">
            <a ><%= vid.title %></a>
            <br />
            <br />
            <img src="<%= vid?.thumbnail %>" style="max-height: 200px; border-radius: 12px;" onclick="window.location.href = '/video/<%= vid.videoId %>'"/>
            <button type="button" onclick="deleteVideo('<%= vid.videoId %>')">Delete</button>
        </div>
        
            <br />
        <% }) %>

        <script>
            const btn = document.querySelector("button")

            btn.addEventListener('click', (e) => {
                e.stopPropagation()
            })
            function deleteVideo(videoId){
                let text;
                
                if(confirm("Are you sure you want to delete this video?") == true){
                    fetch('/video/delete', {
                        method:"post",
                        body:JSON.stringify({
                            videoId: videoId
                        }),
                        headers:{
                           
                           'Content-Type':"application/json"
                        }
                    }).then((res) => {
                        window.location.reload()
                    })
                        
                } else {
                    console.log("didnt delete the video")
                }
            }
        </script>
    </body>
</html>